go
pip tkinter
kubo (ipfs)
gazebo11
xdotool
xterm
gnome-terminal
ros2 humble
set bash to default terminal shell
$ go install github.com/ipfs/ipget@latest
https://dist.ipfs.tech/#ipget

pip install xmltodict
pip install dicttoxml